
*{
    margin: 0;
    padding: 0;
}

/*Cards*/
.container-card{
	display: flex;
	width: 100%;
}
.title-cards{
	width: 100%;
	max-width: 1080px;
	margin: auto;
	padding: 20px;
	margin-top: 20px;
	text-align: center;
	color: #ffffff;
}
.card{
	height: 50%;
	width: 50%;
	margin: 50px;
	border-radius: 6px;
	overflow: hidden;
	background:  rgb(255, 255, 255);
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
	cursor: default;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.figura .FotoHambur{
	float: right;
	margin-right: 10px;
	margin-bottom: 10px;
}
.card img{
	max-width: 95%;
	height: 20%;
}
.card .contenido-card{
	padding: 15px;
	text-align: center;
}
.card .contenido-card h3{
	margin-bottom: 15px;
	color: #614141;
}
.card .contenido-card p{
	line-height: 1.8;
	color: #000000;
	font-weight: 50%;
	font-size: 14px;
	margin-bottom: 5px;
}
.card .contenido-card a{
	display: inline-block;
	padding: 10px;
	margin-top: 10px;
	text-decoration: none;
	color: #1f0303;
	border: 1px solid #000000;
	border-radius: 4px;
	margin-bottom: 5px;
}
.card .contenido-card a:hover{
	background: #490606;
	color: rgb(255, 255, 255);
}
/*Fin-Cards*/


