*{
    margin: 0;
    box-sizing: border-box;
}
:root{
    --color-1:#ff3535;
    --color-2:#da9b9b;
    --color-header:#0e0d0d85;
    --color-fondo:#c4b6b6;
    --color-texto-1:#ffffff;
    --color-texto-2:#ffd000;
    --color-texto-3:#ff3535;
}

body{
    font-family: 'Bebas Neue', cursive;
    background: url(img/fondo-comida.jpg);
    

}
.main{
    width: 100%;
}

/* seccion 1*/

.section_1{
    background: url(img/fondo-comida.jpg);
    background-size: 100%;
    height: calc(100vh);


}
/*header*/

.header{
    background: var(--color-header);
    width: 100%;
    height: 75px;
    display: flex;
    border-bottom: solid 2px var(--color-fondo);


}
.header-logo{
    width: 70% ;
}

.logo{
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    
}

.nav{
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 65px;
    
}

.link{
    text-decoration: none;
    color:white;
    margin: 1% 3%;
}

.link:hover{
    color:rgb(14, 112, 91);
}

/* Div Class="Banner"*/

.banner{
    
    width: 100%;
    height: calc(100vh - 75px);
    display: flex;
    align-items: center;
    align-content: center;

}

.banner_texto{
    
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.banner_titulo-1{
    font-size: 3em;
    color: var(--color-texto-2);
    line-height: 0.5;

}

.banner_titulo-2{
    font-size: 2.5em;
    color: var(--color-texto-1);
    

}

.text{
    font-size: 1.5em;
    font-weight: 50;
    color: #8f2a13;

}

.banner_link{
    width: 25%;
    background: var(--color-1) ;
    color: var(--color-texto-1);
    text-decoration: none;
    padding: 20px 30px;
    margin-top: 15px;
    text-align: center;
    border-radius: 25em;
    font-size: 1.1em;


}

